body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif!important;
}

section {
  width: 100%;
}

input {
  font-family: 'Open Sans', sans-serif!important;
}

.title {
  font-family: 'Poppins',Arial,Helvetica,sans-serif !important;
}
.subtitle {
  font-family: 'Open Sans', sans-serif!important;
}

.section-header {
  color: #4a4a4a;
  font-weight: 700;
}

.black-link {
  font-weight: 700;
  color: rgba(74, 74, 74, .7);
}

.black-link:hover {
  color: rgba(74, 74, 74, 1);
}

.picture-anim:hover {
  -moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
}

.website-name {
  font-weight: 700;
}

.work-section {
  margin-bottom: 1.5rem;
}

.title-link {
  color: rgba(74, 74, 74, 1);
}

.title-link:hover {
  color: rgba(74, 74, 74, .8);
}

.is-primary {
  background-color: #00AEEF!important;
}

.is-primary:hover {
  background-color: #0096cc!important;
}

.input:active{
  border-color: #00AEEF!important;
}

.input:focus{
  border-color: #00AEEF!important;
}

.textarea:active {
  border-color: #00AEEF!important;
}

.textarea:focus {
  border-color: #00AEEF!important;
}

a.icon {
  color: #00AEEF!important;
}

a.icon:hover {
  color: rgba(74, 74, 74, 1)!important;
}

.alert {
  text-align: center;
  padding: 10px;
  background: #79c879;
  color: #F7F7F7;
  margin: 0 24px 30px 24px;
  display: none;
}


#name {
  z-index: 100;
  position: absolute;
  top: 20%;
  left: 5%;
  color: #F7F7F7;
  font-size: 4rem;
  font-weight: 700;
}

#name span {
  color: #00AEEF;
}

#sub-name {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 5%;
  color: #F7F7F7;
  font-size: 2rem;
  font-weight: 300;

}

#circular-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: static;
  display: block;
  margin: 0 auto;
}

#about-header {
  text-align: center;
  padding-top: 60px;
}

#blurb {
  max-width: 620px;
  padding: 0 15px;
  margin: 30px auto;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

#particles-js {
  background-color: #000203 ;
  height: 100vh;
  width: 100%;
  z-index: 1;
  position: static;
}


#works-hero {
  margin-top: 60px;
  background-color: #f5f5f5;
}

#about-me {
  width: 100%;
  justify-content: center;
}
